{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Engineering Festival organized by IEEE Kenyatta University Student Branch.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url"           content="https://engineeringfest.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Engineering Festival" />
    <meta property="og:description"   content="Engineering Festival organized by IEEE Kenyatta University Student Branch." />
    <meta property="og:image"         content="http://sls2020.herokuapp.com/static/img/bg-img/sls.png" />

    <!-- Title -->
    <title>ENGINEERING FESTIVAL</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

</head>

<body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0&appId=284457345656124&autoLogAppEvents=1"></script>
    <!-- Header Area Start -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="conferNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/logo.png' %}" alt="" height="40" width="150"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li {% if request.path == '/' %}class="active"{% endif %}><a href="{% url 'index' %}">Home</a></li>
                                <li {% if request.path == '/about' %}class="active"{% endif %}><a href="{% url 'index' %}#about">About</a></li>
                                <li {% if request.path == '/speakers' %}class="active"{% endif %}><a href="{% url 'speakers' %}">Speakers</a></li>
                                <li {% if request.path == '/contact' %}class="active"{% endif %}><a href="{% url 'contact' %}">Contact Us</a></li>
                            </ul>

                            <!-- Get Tickets Button -->
                            <a href="https://events.vtools.ieee.org/m/235452" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Register <i class="zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

   {% block content %}
   {% endblock %}


    <!-- Footer Area Start -->
    <footer class="footer-area bg-img bg-overlay-2 section-padding-100-0">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Find us on social media</h5>
                            <p>Get in touch with us</p>

                            <!-- Social Info -->
                            <div class="social-info">
                                <a href="https://www.facebook.com/Students-Leadership-Summit-192463941633151"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="https://twitter.com/KuPhotonics"><i class="zmdi zmdi-twitter"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Contact</h5>

                            <!-- Contact Area -->
                            <div class="footer-contact-info">
                                <p><i class="zmdi zmdi-phone"></i> 0719790509</p>
                                <p><i class="zmdi zmdi-phone"></i> 0729164949</p>
                                <p><i class="zmdi zmdi-phone"></i> 0703575888</p>
                                <p><i class="zmdi zmdi-email"></i> fidelmakatia85@gmail.com</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Workshops</h5>

                            <!-- Footer Nav -->
                            <ul class="footer-nav">
                                <!-- <li><a href="#">Leadership Integrity</a></li>
                                <li><a href="#">Leadership in the Market place</a></li>
                                <li><a href="#">Emotional Quotient</a></li>
                                <li><a href="#">Myths and Misconceptions of leadership</a></li>
                                <li><a href="#">Understanding your life purpose</a></li>
                                <li><a href="#">The cost of leadership</a></li> -->
                            </ul>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Quick Links</h5>

                            <!-- Footer Nav -->
                            <ul class="footer-nav">
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="https://ieee.org">IEEE</a></li>
                                <li><a href="https://kuchristianunion.org">IEEE Kenyatta University</a></li>
                                <li><a href="https://ku.ac.ke">Kenyatta University</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="container">
            <div class="copywrite-content">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by IEEE Kenyatta University</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Popper -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All Plugins -->
    <script src="{% static 'js/confer.bundle.js' %}"></script>
    <!-- Active -->
    <script src="{% static 'js/default-assets/active.js' %}"></script>

</body>

</html>