{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load main_extras %}
<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay jarallax"
            style="background-image: url({% static 'img/bg-img/1.jpg' %});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="z-index: 100;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div><br>
                    {% endfor %}
                    {% endif %}
                    <!-- Welcome Text -->
                    <div class="col-12">
                        <div class="welcome-text text-center">
                            <h2 data-animation="fadeInUp" data-delay="500ms">ENGINEERING FESTIVAL 2020</h2>
                            <!-- Event Meta -->
                            <div class="event-meta" data-animation="fadeInUp" data-delay="500ms">
                                <p class="event-date text-white" href="#">August 7TH - 8TH,
                                    2020</p>
                            </div>
                            <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                                <a href="#" class="btn confer-btn m-2">View more <i
                                        class="zmdi zmdi-long-arrow-right"></i></a>
                                <a href="https://events.vtools.ieee.org/m/235452" class="btn confer-btn m-2">Register <i
                                        class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay jarallax"
            style="background-image: url({% static 'img/bg-img/2.jpg' %});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12">
                        <div class="welcome-text-two text-right">
                            <h2 data-animation="fadeInUp" data-delay="100ms">Engineering Festival <br>2020</h2>
                            <h6 data-animation="fadeInUp" data-delay="300ms">IEEE Kenyatta University, Nairobi, Kenya</h6>
                            <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                                <a href="https://events.vtools.ieee.org/m/235452" class="btn confer-btn m-2">Register <i
                                    class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Scroll Icon -->
    <div class="icon-scroll" id="scrollDown"></div>
</section>
<!-- Welcome Area End -->

<!-- About Us And Countdown Area Start -->
<section class="about-us-countdown-area section-padding-100-0" id="about">
    <div class="container">
        <div class="row align-items-center">
            <!-- About Content -->
            <div class="col-12 col-md-6">
                <div class="about-content-text mb-80">
                    <h6 class="wow fadeInUp" data-wow-delay="300ms">About Festival</h6>
                    <h3 class="wow fadeInUp" data-wow-delay="300ms">Welcome to the Engineering Festival 2020</h3>
                    <p class="wow fadeInUp" data-wow-delay="300ms">Engineering Festival is an annual conference that aims to empower engineering students in Africa with the objective of building engineering capacities, skills and innovation through speakers, panels, discussions, workshops and exhibitions. The conference is designed to enable engineering students in Africa to apply engineering skills and technology in addressing the needs in Africa and their immediate environment.</p>
                    <div class="mt-40">
                        <p>Tell your friends about #engineeringfest2020</p>
                    </div>
                </div>
            </div>

            <!-- About Thumb -->
            <div class="col-12 col-md-6">
                <div class="about-thumb mb-80 wow fadeInUp" data-wow-delay="300ms">
                    <img src="{% static 'img/bg-img/fest.png' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- Counter Up Area -->
    <div class="countdown-up-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-3">
                    <!-- Countdown Text -->
                    <div class="countdown-content-text mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6>Festival Date</h6>
                        <h4>Count Every Second Until the Festival</h4>
                    </div>
                </div>

                <div class="col-12 col-md-9">
                    <div class="countdown-timer mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div id="clock"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us And Countdown Area End -->



<!-- What We offer Area Start -->
<section class="what-we-offer-area section-padding-100-70">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Festival Meetings</p>
                    <h4>What To Expect</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="{% static 'img/core-img/icon.png' %}" alt="">
                    </div>
                    <h5>Keynote Speeches</h5>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="{% static 'img/core-img/icon-2.png' %}" alt="">
                    </div>
                    <h5>Workshops</h5>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="{% static 'img/core-img/icon-3.png' %}" alt="">
                    </div>
                    <h5>Panels</h5>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="{% static 'img/core-img/icon-4.png' %}" alt="">
                    </div>
                    <h5>Talks</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- What We offer Area End -->

<!-- Our Speakings Area Start -->
<section class="our-speaker-area bg-img bg-gradient-overlay section-padding-100-60"
    style="background-image: url({% static 'img/bg-img/3.jpg' %});">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Our Speakers</p>
                    <h4>Who’s speaking</h4>
                </div>
            </div>
        </div>

        <div class="row">
            {% for speaker in speaker_list %}
            <!-- Single Speaker Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="{{ speaker.photo|crop }}" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="{{ speaker.facebook_url }}" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="{{ speaker.instagram_url }}" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="{{ speaker.twitter_url }}" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="{{ speaker.linkedin_url }}" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>{{ speaker }}</h5>
                        <p>{{ speaker.role }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12 text-center">
                <a href="{% static 'docs/speakers.pdf' %}" class="btn confer-btn mr-2">Download (PDF) <i class="zmdi zmdi-long-arrow-right"></i></a>
                <a href="{% url 'speakers' %}" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
            </div>
            
        </div>
    </div>
</section>
<!-- Our Speakings Area End -->

<!-- Our Schedule Area Start -->
<section class="our-schedule-area section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Our Timetable</p>
                    <h4>Schedule Plan</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="schedule-tab">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="300ms" id="conferScheduleTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="friday-tab" data-toggle="tab" href="#step-one" role="tab"
                                aria-controls="step-one" aria-expanded="true">Friday <br> <span>7TH AUGUST
                                    2020</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="saturday-tab" data-toggle="tab" href="#step-two" role="tab"
                                aria-controls="step-two" aria-expanded="true">Saturday <br> <span>8TH AUGUST
                                    2020</span></a>
                        </li>
                    </ul>
                </div>

                <!-- Tab Content -->
                <div class="tab-content" id="conferScheduleTabContent">
                    <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="friday-tab">
                        <!-- Single Tab Content -->
                        <div class="single-tab-content">
                            <div class="row">
                                <div class="col-12">
                                    {% for event in day_one_event_list  %}
                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                        data-wow-delay="300ms"
                                        style="visibility: visible; animation-delay: 300ms;animation-name: none;">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>{{ event.name }}</h6>
                                                <p>by <span>{{ event.speaker }}</span></p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> {{event.start_time.time }} to
                                                {{ event.end_time.time }}</p>
                                            <p><i class="zmdi zmdi-map"></i> <a href="{{ event.meeting_link }}">{{ event.venue }}</a></p>
                                        </div>
                                        <div title="Add to Calendar" class="addeventatc">
                                            Add to Calendar
                                            <span class="start">{{event.start_time.date }}
                                                {{ event.start_time.time }}</span>
                                            <span class="end">{{event.end_time.date }} {{ event.end_time.time }}</span>
                                            <span class="timezone">Africa/Nairobi</span>
                                            <span class="title">{{ event.name }}</span>
                                            <span class="description">{{ event.description }}</span>
                                            <span class="location">{{ event.meeting_link }}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="saturday-tab">
                        <!-- Single Tab Content -->
                        <div class="single-tab-content">
                            <div class="row">
                                <div class="col-12">

                                    {% for event in day_two_event_list  %}
                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                        data-wow-delay="300ms"
                                        style="visibility: visible; animation-delay: 300ms;animation-name: none;">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>{{ event.name }}</h6>
                                                <p>by <span>{{ event.speaker }}</span></p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> {{event.start_time.time }} to
                                                {{ event.end_time.time }}</p>
                                            <p><i class="zmdi zmdi-map"></i> <a href="{{ event.meeting_link }}">{{ event.venue }}</a></p>
                                        </div>
                                        <div title="Add to Calendar" class="addeventatc">
                                            Add to Calendar
                                            <span class="start">{{event.start_time.date }}
                                                {{ event.start_time.time }}</span>
                                            <span class="end">{{event.end_time.date }} {{ event.end_time.time }}</span>
                                            <span class="timezone">Africa/Nairobi</span>
                                            <span class="title">{{ event.name }}</span>
                                            <span class="description">{{ event.description }}</span>
                                            <span class="location">{{ event.meeting_link }}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- More Schedule Btn -->
                <div class="col-12">
                    <div class="more-schedule-btn text-center mt-50 wow fadeInUp" data-wow-delay="300ms">
                        <a href="{% url 'programs' %}" class="btn confer-gb-btn mr-2">View Full Program</a>
                        <a href="{% static 'docs/schedule.pdf' %}" class="btn confer-gb-btn">Download schedule (Pdf)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Schedule Area End -->



<!-- Our Ticket Pricing Table Area Start -->
<section class="our-ticket-pricing-table-area bg-img bg-gradient-overlay section-padding-100-0 jarallax"
    style="background-image: url({% static 'img/bg-img/1.jpg' %});">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>CONFERENCE FEE</p>
                    <h4>Ticket Pricing</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Ticket Pricing Table -->
            <div class="col-12 col-lg-4">
            </div>

            <!-- Single Ticket Pricing Table -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-ticket-pricing-table active text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <h6 class="ticket-plan">Full pass</h6>
                    <!-- Ticket Icon -->
                    <div class="ticket-icon">
                        <img src="{% static 'img/core-img/p2.png' %}" alt="">
                    </div>
                    <h2 class="ticket-price"><span>FREE</h2>
                    <a href="https://events.vtools.ieee.org/m/235452" class="btn confer-btn w-100 mb-30">Register <i
                            class="zmdi zmdi-long-arrow-right"></i></a>
                    <!-- Ticket Pricing Table Details -->
                </div>
            </div>

            <!-- Single Ticket Pricing Table -->
            <div class="col-12 col-md-6 col-lg-4">
            </div>
        </div>
    </div>
</section>
<!-- Our Ticket Pricing Table Area End -->

<!-- Our Sponsor And Client Area Start -->
<section class="our-sponsor-client-area section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Partners &amp; Sponsors</p>
                    <h4 style="color: #151853!important;">OFFICIAL SPONSORS</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <div class="our-sponsor-area d-flex justify-content-center flex-wrap">
                    {% for sponsor in sponsor_list %}
                    <!-- Single Sponsor -->
                    <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                        <a href="{{ sponsor.logo.url }}"><img src="{{ sponsor.logo.url }}" height="80!important" alt="{{ sponsor.name }}" data-toggle="tooltip" data-placement="top"
                                title="{{ sponsor.name }}"></a>
                    </div>
                    {% endfor %}
                    
                </div> 
            </div>
        </div>
        <div class="col-12 text-center mt-5">
            <a href="https://events.vtools.ieee.org/m/235457" class="btn confer-btn mb-30">Become a Sponsor <i
                class="zmdi zmdi-long-arrow-right"></i></a>
        </div>
    </div>
</section>
<!-- Our Sponsor And Client Area End -->
{% endblock %}