{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url(img/bg-img/27.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="page-title text-center">Programs</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-schedule-area section-padding-100">
    <div class="container">
            <div class="schedule-tab">
                <!-- Nav Tabs -->
                <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="300ms" id="conferScheduleTab" role="tablist">
                    {% comment %}
                    {% for day in summit_day_list %}
                    <!-- Nav Item -->
                    <li class="nav-item">
                        <a class="nav-link active" id="{% cycle 'friday-tab' 'saturday-tab' %}"
                            data-toggle="tab" href="{% cycle '#step-one' '#step-two' %}" role="tab"
                            aria-controls="{% cycle 'step-one' 'step-two' %}"
                            aria-expanded="true">{{  day.date|date:"l" }} <br>
                            <span>{{ day.date|date:"d F Y" }}</span></a>
                    </li>
                    {% endfor %}
                    {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link active" id="friday-tab" data-toggle="tab" href="#step-one" role="tab"
                            aria-controls="step-one" aria-expanded="true">Friday <br> <span>7TH AUGUST
                                2020</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="saturday-tab" data-toggle="tab" href="#step-two" role="tab"
                            aria-controls="step-two" aria-expanded="true">Saturday <br> <span>8TH AUGUST
                                2020</span></a>
                    </li>
                </ul>
            </div>
            <!-- Tab Content -->
            <div class="tab-content" id="conferScheduleTabContent">
                <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="friday-tab">
                    <!-- Single Tab Content -->
                    <div class="single-tab-content">
                        <div class="row">
                            <div class="col-12">
                                {% for event in day_one_event_list  %}
                                <!-- Single Schedule Area -->
                                <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                    data-wow-delay="300ms"
                                    style="visibility: visible; animation-delay: 300ms;animation-name: none;">
                                    <!-- Single Schedule Thumb and Info -->
                                    <div class="single-schedule-tumb-info d-flex align-items-center">
                                        <!-- Single Schedule Info -->
                                        <div class="single-schedule-info">
                                            <h6>{{ event.name }}</h6>
                                            <p>by <span>{{ event.speaker }}</span></p>
                                        </div>
                                    </div>
                                    <!-- Single Schedule Info -->
                                    <div class="schedule-time-place">
                                        <p><i class="zmdi zmdi-time"></i> {{event.start_time.time }} to
                                            {{ event.end_time.time }}</p>
                                        <p><i class="zmdi zmdi-map"></i> <a class="text-white" href="{{ event.meeting_link }}">{{ event.venue }}</a></p>
                                    </div>
                                    <div title="Add to Calendar" class="addeventatc">
                                        Add to Calendar
                                        <span class="start">{{event.start_time.date }}
                                            {{ event.start_time.time }}</span>
                                        <span class="end">{{event.end_time.date }} {{ event.end_time.time }}</span>
                                        <span class="timezone">Africa/Nairobi</span>
                                        <span class="title">{{ event.name }}</span>
                                        <span class="description">{{ event.description }}</span>
                                        <span class="location">{{ event.meeting_link }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="saturday-tab">
                    <!-- Single Tab Content -->
                    <div class="single-tab-content">
                        <div class="row">
                            <div class="col-12">

                                {% for event in day_two_event_list  %}
                                <!-- Single Schedule Area -->
                                <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                    data-wow-delay="300ms"
                                    style="visibility: visible; animation-delay: 300ms;animation-name: none;">
                                    <!-- Single Schedule Thumb and Info -->
                                    <div class="single-schedule-tumb-info d-flex align-items-center">
                                        <!-- Single Schedule Info -->
                                        <div class="single-schedule-info">
                                            <h6>{{ event.name }}</h6>
                                            <p>by <span>{{ event.speaker }}</span></p>
                                        </div>
                                    </div>
                                    <!-- Single Schedule Info -->
                                    <div class="schedule-time-place">
                                        <p><i class="zmdi zmdi-time"></i> {{event.start_time.time }} to
                                            {{ event.end_time.time }}</p>
                                        <p><i class="zmdi zmdi-map"></i><a class="text-white" href="{{ event.meeting_link }}">{{ event.venue }}</a></p>
                                    </div>
                                    <div title="Add to Calendar" class="addeventatc">
                                        Add to Calendar
                                        <span class="start">{{event.start_time.date }}
                                            {{ event.start_time.time }}</span>
                                        <span class="end">{{event.end_time.date }} {{ event.end_time.time }}</span>
                                        <span class="timezone">Africa/Nairobi</span>
                                        <span class="title">{{ event.name }}</span>
                                        <span class="description">{{ event.description }}</span>
                                        <span class="location">{{ event.meeting_link }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}